<div class="oversea__box">
<div class="sideLine"></div>
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a ui-sref="main.company.employ.overview">企业管理</a>&gt;
        <span>海外动态</span>
    </div>
    <div class="oversea__infobox">
        <div class="dyncBox">
            <div class="more">更多>></div>
            <div class="mb15">
                <div class="dynctitle active">机构动态</div>
                <div class="dynctitle">项目动态</div>
            </div>
            <dl class="dyncdl active mt15">
                <dd>
                    <div class="bicon"></div>
                    <a href="">项目动态展示在这里</a></dd>
                <dd>
                    <div class="bicon"></div>
                    <a href="">项目动态展示在这里</a>
                </dd>
            </dl>
            <dl class="dyncdl">
                <dd>
                    <div class="bicon"></div><a href="">中企建立煤电站</a>
                </dd>
                <dd>
                    <div class="bicon"></div><a href="">机构动态展示在这里</a>
                </dd>
            </dl>
        </div>
        <div class="sideRank">
            <div class="sideRank__title">热点排行</div>
            <div class="more">更多>></div>
            <ol class="hotList">
                <li class="isHot">
                    <div class="ricon">1</div>
                    <a href="">中企建立煤电站</a>
                </li>
                <li class="isHot">
                    <div class="ricon">2</div>
                    <a href="">中企建立煤电站</a>
                </li>
                <li class="isHot">
                    <div class="ricon">3</div>
                    <a href="">中企建立煤电站</a>
                </li>
                <li>
                    <div class="ricon">4</div>
                    <a href="">中企建立煤电站</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="oversea__caseList">
        <div class="caseTitle">经典案例</div>
        <div class="oversea__case">
            <div class="caseImg">
                <img src="../images/case.jpg" alt="">
            </div>
            <div class="caseInfo">
                <p><strong>项目名称:</strong>中老铁路</p>
                <p><strong>所在国家:</strong>中老铁路</p>
                <p><strong>建设地点:</strong>中老铁路</p>
                <p><strong>项目状态:</strong>中老铁路</p>
                <p><strong>项目摘要:</strong></p>
                <p>
                    中老铁路由国内段昆明至玉溪、玉溪至磨憨段与老挝境内段磨丁至万象铁路组成，昆明至玉溪段年内即将开通；玉溪至磨憨段正加紧建设，其北起玉溪，南至中老边境口岸磨憨，正线全长509公里，设计速度为每小时160公里，为国铁Ⅰ级电气化铁路；老挝境内段磨丁至万象铁路全长418公里，已于去年12月在老挝首都万象举行奠基仪式。<a href="">(点击查看详细信息)</a>
                </p>
            </div>
        </div>
        <div class="oversea__case">
            <div class="caseImg">
                <img src="../images/case.jpg" alt="">
            </div>
            <div class="caseInfo">
                <p><strong>项目名称:</strong>中老铁路</p>
                <p><strong>所在国家:</strong>中老铁路</p>
                <p><strong>建设地点:</strong>中老铁路</p>
                <p><strong>项目状态:</strong>中老铁路</p>
                <p><strong>项目摘要:</strong></p>
                <p>
                    中老铁路由国内段昆明至玉溪、玉溪至磨憨段与老挝境内段磨丁至万象铁路组成，昆明至玉溪段年内即将开通；玉溪至磨憨段正加紧建设，其北起玉溪，南至中老边境口岸磨憨，正线全长509公里，设计速度为每小时160公里，为国铁Ⅰ级电气化铁路；老挝境内段磨丁至万象铁路全长418公里，已于去年12月在老挝首都万象举行奠基仪式。<a href="">(点击查看详细信息)</a>
                </p>
            </div>
        </div>
    </div>
</div>
