
<div class="form__box">
	<div class="sideLine"></div>
    <form action="">
        <fieldset>
            <legend>
                <div class="legend__txt">项目信息</div>
            </legend>
            <label class="label clearfix">
                <div class="label__txt">项目类别</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">所属集团</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目所属机构</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目所在洲</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目所在国家</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目状态</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目开始时间</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">
                    计划完成时间
                </div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目负责人</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">外籍人员数量</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">项目合同金额(万元)</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label__area clearfix">
                <div class="label__txt">项目主要情况概述</div>
                <div class="label__ibox">
                    <textarea></textarea>
                </div>
            </label>
        </fieldset>
        <fieldset>
            <legend>
                <div class="legend__txt">项目中国籍人员信息</div>
            </legend>
            <label class="label clearfix">
                <div class="label__txt">项目类别</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">姓名</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
            <label class="label clearfix">
                <div class="label__txt">身份证号</div>
                <div class="label__ibox">
                    <input type="text">
                </div>
            </label>
        </fieldset>
        <div class="btn__area">
            <button class="btn__sub">提交审核</button>
            <button class="btn__reset">重置</button>
        </div>
    </form>
</div>
