$button-default-bg:#ffb401;
$button-default-font-color:#fff;
$button-default-width:217px;
$button-border-radius:20px;
$button-small-radius:5px;
$button-padding:8px; 
$button-reset-bg:#666;
$button-default-width:217px;
$button-border-width:0px;
$button-default-border:transparent;
$button-default-shadow:1px 4px 2px #eee;