<div class="emergency__box">
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a href="">当前位置:应急管理</a>&gt;
        <span>应急事件详情</span>
    </div>
    <div class="emergency__address">
        <div class="addstr">埃及西奈半岛</div>
    </div>
    <div id="emergencyMap"></div>
    <div class="info">
        <div class="organ clearfix">
            <span class="tableTitle">影响机构</span>
            <table class="organTable">
                <tbody class="organtbody">
                    <tr>
                        <td><a href="">公司1</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">公司2</a></td>
                    </tr>
                    <tr>
                        <td><a href="">公司1</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">公司2</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="employee clearfix">
            <span class="tableTitle">影响人员</span>
            <table class="employeeTable">
                <thead>
                    <tr>
                        <td><a href="">姓名</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">所属集团</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">联系方式</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">公司1</a></td>
                        <td class="linetd">
                        </td>
                        <td><a href="">公司2</a></td>
                        <td class="linetd">
                        </td>
                        <td><a href="">公司2</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="project clearfix">
            <span class="tableTitle">影响项目</span>
            <table class="projectTable">
                <thead>
                    <tr>
                        <td><a href="">项目名称</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">所属集团</a></td>
                        <td class="linetd">
                            <div></div>
                        </td>
                        <td><a href="">项目金额</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">公司1</a></td>
                        <td class="linetd">
                        </td>
                        <td><a href="">公司2</a></td>
                        <td class="linetd">
                        </td>
                        <td><a href="">公司2</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

