<div class="emergency__box">
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a href="">当前位置:应急管理</a>&gt;
        <span>应急事件</span>
    </div>
    <div class="em__main">
        <div class="em__name">
            <div class="em__sline"></div>
            <span class="em__txt">当前事件:</span>
            <span ui-sref="main.emergency.emergencydetail" class="em__tname">埃及西奈半岛</span>
        </div>
        <div class="em__event">
            <div class="em__leftarrow"></div>
            <div class="em__rightarrow"></div>
            <div class="em__wrap">
                <ul class="em__ul">
                    <li class="em__li">
                        <div class="em__v">
                        </div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v">
                            <div class="em__v">
                                <div class="em__vimg">
                                    <img src="../images/vi.jpg" alt="">
                                </div>
                                <div class="em__vimg">
                                    <img src="../images/vi.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v"></div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v"></div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v"></div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v"></div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                    <li class="em__li">
                        <div class="em__v"></div>
                        <div>
                            <div class="em__line">
                                <div class="em__circle"></div>
                                <div class="em__inline"></div>
                            </div>
                            <div class="em__edate">2017年3月11日</div>
                            <div class="em__detail">
                                进入三个月的紧急状态
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="em__list">
            <div class="em__listTitle">
                <div class="em__sline"></div>
                历史事件:
            </div>
            <ul class="em__eventList">
                <li class="em__eventItem clearfix">
                    <span class="em__emd fl">2017年</span>
                    <div class="em__eventLine fl">
                        <div class="em__eventcircle"></div>
                        <div class="em__eventinline"></div>
                    </div>
                    <div class="em__eventTxt ovh">
                        2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸
                    </div>
                </li>
                <li class="em__eventItem clearfix">
                    <span class="em__emd fl">2017年</span>
                    <div class="em__eventLine fl">
                        <div class="em__eventcircle"></div>
                        <div class="em__eventinline"></div>
                    </div>
                    <div class="em__eventTxt ovh">
                        2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸
                    </div>
                </li>
                <li class="em__eventItem clearfix">
                    <span class="em__emd fl">2017年</span>
                    <div class="em__eventLine fl">
                        <div class="em__eventcircle"></div>
                        <div class="em__eventinline"></div>
                    </div>
                    <div class="em__eventTxt ovh">
                        2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸2017年5月29日,伊拉克爆炸
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
