.bg__container{
	position:relative;
	overflow: hidden;
	background:#77c3f4;
	width:100%;
	height:100%;
	overflow: hidden;
	.bg__circle--m{
		position:absolute;
		top:percentage(130/900);
		left:-(percentage(440/1920));
		width:percentage(880/1920);
		div{
			position:absolute;
			width:100%;
			padding-top:100%;
			border-radius:50%;
			background:#69bef5;
		}
	}
		.bg__circle--s{
		position:absolute;
		bottom:(percentage(258/900));
		left:50%;
		width:percentage(516/1920);
		div{
			position:absolute;
			width:100%;
			padding-top:100%;
			border-radius:50%;
			background:#69bef5;
		}
	}
		.bg__circle--l{
		position:absolute;
		top:-(percentage(456/900));
		right:-(percentage(610/1920));
		width:percentage(1220/1920);
		div{
			position:absolute;
			width:100%;
			padding-top:100%;
			border-radius:50%;
			background:#69bef5;
		}
	}

	.login__box{
		position:absolute;
		top:50%;
		margin-top:-227px;
		left:50%;
		margin-left:-465px;
		width:930px;
		height:454px;
		background:#fff;
		border-radius:5px;
		box-shadow:6px 6px 6px #5ba5d5;
	}

	.login__bg{
		position:absolute;
		width:397px;
		height:508px;
		border-radius:5px;
		top:-32px;
		left:40px;
		background:url(../../images/l_bg.jpg) no-repeat;
	}
	
	.login-view{
		height:100%;
	}
	.login__form{
		position:absolute;
		bottom:60px;
		right:88px;
		width:323px;
	}
	.login__label{
		display:block;
		width:100%;
		border-bottom:1px solid #bcbcbc;
		padding:28px 0 10px 0;
		.label__span{
			float:left;
		}
		input{
			overflow: hidden;
			border:none;
			float:left;
			font-size:18px;
			line-height:24px;
			margin-left:20px;
		}
	}
	.login__btn{
		background:#ffb401;
		width:323px;
		border:none;
		box-shadow:2px 2px 2px #bcbcbc;
		color:#fff;
		text-align:center;
		border-radius:25px;
		padding:12px 0;
		margin-top:36px;
		font-size:26px;
		line-height:1;
		cursor: pointer;
	}
	.login__icon{
		margin-left:12px;
		width:24px;
		height:24px;
		background:url(../../images/person.png) no-repeat;
		float:left;
	}
	.login__icon1{
		margin-left:12px;
		width:24px;
		height:24px;
		background:url(../../images/lock.png) no-repeat;
		float:left;
	}
	.login__mid{
		margin-top:10px;
		line-height:1;
		font-size:16px;
		a{
			color:#ffb401;
			text-decoration: none;
		}
	}
	.login__top{
		position:absolute;
		top:20px;
		right:90px;
		font-size:18px;
		color:#cc0000;
		cursor: pointer;
	}
	.login__eye{
		display:inline-block;
		width:18px;
		height:12px;
		background:url(../../images/eye.png) no-repeat;
	}
}

