        <div class="findPwd__box">
           
           <div class="findPwd__wrap">
           	 <div class="findPwd__back"><a ui-sref="login.login">返回</a></div>
			<div class="findPwd__m1">
				<div class="findPwd__str">方式一:通过手机找回</div>
				<fieldset class="findPwd__field">
					  <label class="findPwd_label">
                            <span class="reg_span">手机号</span>
                            <input class="reg_input" type="text">
                        </label>
                          <label class="findPwd_label">
                            <span class="reg_span">短信验证码</span>
                            <input class="reg_input" type="text">
                             <button class="getCode">获取验证码</button>
                        </label>
				</fieldset>
			</div>
			<div class="findPwd__m2">
				<div class="findPwd__str">方式二:通过邮箱找回</div>
				<fieldset class="findPwd__field">
					  <label class="findPwd_label">
                            <span class="reg_span">邮箱</span>
                            <input class="reg_input" type="text">
                        </label>
				</fieldset>
			</div>
			<div class="findPwd__btnBox">
				<button class="btn__reg">下一步</button>
			</div>
           </div>
	
        </div>