<div class="login__box">
    <a class="login__top" ui-sref="main.index">
        <span class="login__eye"></span>
        <span>访客浏览</span>
    </a>
    <div class="login__bg"></div>
    <div class="login__form">
        <form id="loginForm">
            <label class="login__label clearfix">
                <span class="login__icon"></span>
                <input type="text" placeholder="请输入用户名">
            </label>
            <label class="login__label clearfix">
                <span class="login__icon1"></span>
                <input type="text" placeholder="请输入密码">
            </label>
            <label class="login__label clearfix">
                <span class="login__icon1"></span>
                <input type="text" placeholder="请输入验证码">
            </label>
            <div class="login__mid">
                <a class="fl" ui-sref="login.register">新用户注册</a>
                <a class="fr" ui-sref="login.findPwd">忘记密码</a>
            </div>
            <div>
                <button class="login__btn">登录</button>
            </div>
        </form>
    </div>
</div>
