<div class="business__box">
    <div class="sideLine"></div>
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a ui-sref="main.service.local">外事服务</a>&gt;
        <span>商情驿站</span>
    </div>
    <div class="business__main ">
        <div class="business__top clearfix">
            <div class="lib">
                <div class="cross__head">
                    <div class="cross__head--left"></div>
                    <div class="cross__head--bottom"></div>
                    项目信息库
                </div>
                <div class="lib__main">
                    <form>
                        <div>
                            <label>
                                <span class="lib__span">全文检索</span>
                                <input class="lib__input1" type="text">
                            </label>
                            <button class="lib__sbtn1">检索</button>
                        </div>
                        <div>
                            <label>
                                <span class="lib__span">项目名称</span>
                                <input class="lib__input2" type="text">
                            </label>
                            <label class="ml20">
                                <span class="lib__span2">项目类型</span>
                                <select name="" id="" class="lib__select1">
                                    <option value="">类型</option>
                                </select>
                            </label>
                        </div>
                        <div class="lib__dbtxt">添加检索内容,如有多个词语请用+分隔</div>
                        <div>
                            <label class="w-358 dib mr20">
                                <span class="lib__span">投资总额</span>
                                <input type="text" class="lib__input3"><span class="lib__span3">至</span>
                                <input type="text" class="lib__input3"><span class="f16 ml5">(万美元)</span>
                            </label>
                            <label>
                                <span class="lib__span2">项目地点</span>
                                <input type="text" class="lib__input4">
                            </label>
                        </div>
                        <div>
                            <label class="w-358 dib mr20">
                                <span class="lib__span">所属行业</span>
                                <select name="" id="" class="lib__select2">
                                    <option value="">行业</option>
                                </select>
                            </label>
                            <label>
                                <span class="lib__span2">项目标注</span>
                                <select name="" id="" class="lib__select1">
                                    <option value="">行业</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label>
                                <span class="lib__span">项目单位名称</span>
                                <div class="dib">
                                    <input type="text" class="lib__input5">
                                </div>
                            </label>
                        </div>
                        <div>添加检索内容,如有多个词语请用+分隔</div>
                        <div>
                            <label class="w-358 dib mr20">
                                <span class="lib__span">投资方式</span>
                                <select name="" id="" class="lib__select1">
                                    <option value="">行业</option>
                                </select>
                            </label>
                            <label>
                                <span class="lib__span2">有效期限</span>
                                <input type="text" class="lib__input4">
                            </label>
                        </div>
                        <div class="lib__btnbox">
                            <button class="lib__sbtn2">开始检索</button>
                            <button class="lib__sbtn3">重置条件</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="share">
                <div class="cross__head">
                    <div class="cross__head--left"></div>
                    <div class="cross__head--bottom"></div>
                    央企资源共享
                    <a class="share__more" href="">更多&gt;&gt;</a>
                </div>
                <div class="share__main" tabmenu selected="shareselected">
                    <ul tabhead class="share__ul">
                        <li class="share__tabli active">人力</li>
                        <li class="share__tabli">项目</li>
                        <li class="share__tabli">设备</li>
                        <li class="share__tabli">技术</li>
                    </ul>
                    <ul tabbody class="share__body">
                        <li class="share__bodyli">
                            <ul>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                            </ul>
                        </li>
                        <li class="share__bodyli">
                            <ul>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                            </ul>
                        </li>
                        <li class="share__bodyli">
                            <ul>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                            </ul>
                        </li>
                        <li class="share__bodyli">
                            <ul>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                                <li>
                                    <div class="share__time">2017-05-24</div>
                                    <a class="share__title active" href="">中央企业境外投资监督管理方法</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="env">
            <div class="cross__head">
                <div class="cross__head--left"></div>
                <div class="cross__head--bottom"></div>
                投资环境
            </div>
            <div class="env__main" tabmenu selected="envselected">
                <ul tabhead class="env__head clearfix"  >
                    <li class="env__li active">亚洲</li>
                    <li class="env__li">欧洲</li>
                    <li class="env__li">北美洲</li>
                    <li class="env__li">南美洲</li>
                    <li class="env__li">非洲</li>
                    <li class="env__li">大洋洲</li>
                </ul>
                <ul tabbody class="env__body">
                    <li class="env__bodyli">
                        <ul class="env__country">
                            <li class="env__countryitem">
                                <a href="">阿富汗</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">阿联酋</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">阿曼</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">阿塞拜疆</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">巴基斯坦</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">巴基斯坦</a>
                            </li>
                            <li class="env__countryitem">
                                <a href="">巴基斯坦</a>
                            </li>
                            <li class="left_fix"></li>
                            <li class="left_fix"></li>
                            <li class="left_fix"></li>
                            <li class="left_fix"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="data__download">
            <div class="cross__head">
                <div class="cross__head--left"></div>
                <div class="cross__head--bottom"></div>
                资料下载
            </div>
            <div class="download__main">
                <ul>
                    <li class="download__link">
                        <a href="">资料指南下载</a>
                    </li>
                    <li class="download__link">
                        <a href="">信用评级下载</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
