<div class="local__box">
    <div class="sideLine"></div>
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a ui-sref="main.service.local">外事服务</a>&gt;
         <a ui-sref="main.service.local({'continent':continent})">当地信息</a>&gt;
        <a ui-sref="main.service.local({'continent':continent})">亚洲</a>&gt;
        <span>阿富汗</span>
    </div>
    <div tabmenu selected="selected" class="local__main clearfix">
        <ul tabhead class="detailul tc">
            <li class="active">国家概况</li>
            <li>使馆信息</li>
            <li>入境居留</li>
            <li>安全防范</li>
            <li>交通出行</li>
            <li>物价医疗</li>
            <li>风俗禁忌</li>
            <li>实用信息</li>
            <li>应急电话</li>
        </ul>
        <ul tabbody class="detail__info">
            <li>
                <p>
                    【国名】阿富汗伊斯兰共和国(The Islamic Republic of Afghanistan)。 　 【面积】647500平方公里。 　 【人口】约3270万。普什图族占40%，塔吉克族占25%，
                </p>
            </li>
            <li>
            	<p>使馆信息</p>
            </li>
            <li>
            	<p>入境居留</p>
            </li>
            <li>
            	<p>安全防范</p>
            </li>
            <li>
            	<p>交通出行</p>
            </li>
            <li>
            	<p>物价医疗</p>
            </li>
            <li>
            	<p>风俗禁忌</p>
            </li>
            <li>
            	<p>实用信息</p>
            </li>
            <li>
            	<p>应急电话</p>
            </li>
        </ul>
    </div>
</div>
