<div class="local__box">
    <div class="sideLine"></div>
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a ui-sref="main.service.local">外事服务</a>&gt;
        <span>当地信息</span>
    </div>
    <div class="local__main" tabmenu selected='selected'>
        <ul tabhead class="local__head clearfix">
            <li class="local__li active">亚洲</li>
            <li class="local__li">欧洲</li>
            <li class="local__li">北美洲</li>
            <li class="local__li">南美洲</li>
            <li class="local__li">非洲</li>
            <li class="local__li">大洋洲</li>
        </ul>
        <ul tabbody class="local__body">
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                        <a ui-sref="main.service.localDetail({continent:selected})"  class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                    <li class="local__country">
                        <a class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                        <a ui-sref="main.service.localDetail({continent:selected})"  class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                          <a ui-sref="main.service.localDetail({continent:selected})"  class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                        <a ui-sref="main.service.localDetail" class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                        <a ui-sref="main.service.localDetail" class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
            <li class="local__list">
                <ul class="local__listul">
                    <li class="local__country">
                        <a ui-sref="main.service.localDetail" class="local__tod"></a>
                        <img src="../images/afh.jpg" alt="">
                        <p class="local__name">阿富汗</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
