<div class="safewarn__box">
    <div class="head__nav">
        <span class="nav__icon"></span>
        <a ui-sref="main.company.organ.overview">应急管理</a>&gt;
        <span>安全提醒</span>
    </div>
    <div class="safe__section">
        <div class="safe__aside">
            <ul>
                <li class="aside__li" ng-class="status==1?'selected':''">
                    <a>暂勿前往</a>
                </li>
                <li class="aside__li" ng-class="status==2?'selected':''">
                    <a>谨慎前往</a>
                </li>
                <li class="aside__li" ng-class="status==3?'selected':''">
                    <a>注意安全</a>
                </li>
                <li class="aside__phoneli">
                	<div class="asidephone"></div>
                	<div class="ovh">
                		<p class="phone__txt">紧急援助电话</p>
                		<p class="phone__txt">12308</p>
                	</div>
                </li>
            </ul>
        </div>
        <div class="safe__main">
            <article>
            	<div class="article">
            		<h1>提醒在埃及的公民注意安全</h1>
            		<div class="article__date tc">发布时间：2017年04月12日 14:45</div>
            		<div class="article__notice tc">(本提醒有效期至2017年10月10日)</div>
            		<p>４月９日上午，埃及北部城市坦塔、亚历山大连续发生严重爆炸事件，造成数十人伤亡。经我驻埃及使领馆多方了解，截至目前暂未收到中国公民伤亡的消息。埃及总统塞西宣布全国进入为期三个月的紧急状态。中国驻埃使领馆将继续密切关注当地安全形势发展。</p>
            		<p>
            			外交部领事司和驻埃及使领馆提醒在埃及中国公民和机构切实加强安全防范意识，密切关注当地安全形势和使领馆相关提醒，避免前往宗教场所、人员密集及敏感地区。如遇紧急情况请及时报警并与中国驻埃及使领馆联系。
            		</p>
            		<p>
            			埃及当地报警电话：+202-122
            		</p>
            	</div>
            </article>
        </div>
    </div>
</div>

